* {
margin: 0;
}

html, body {
height: 100%;
}

body {
background-color: #000;
padding: 0;
margin: 0;}

@font-face {
    font-family: menu;
    src: url(assets/sportsjersey.ttf);
}

.wrapper {
width:100%;
/**margin:0 auto;**/
background-image: url('assets/footballbg_long.jpg');
background-position: bottom center;
background-attachment: fixed;
background-repeat:no-repeat;
background-color: #000;
min-height: 100%;
height: auto !important;
height: 100%;
font-family: georgia, 
}


#tagline {margin-bottom: 5%;}

ul {list-style: none;}

a:link {
color:#FFF;
text-decoration: none;
font-family: menu;}
a:hover {
text-decoration: underline; color: #106710;
}
a:visited {
    color: #FFF;}

.currentlink {color: #106710;}

.header {/**width:50%;margin:0 auto;text-align: center;**/padding-bottom: 15px;}

nav {float:left;/**width:15%;**/width:36%;margin-right: 5%;font-size: x-large;color:#FFF;font-family: menu;}

$(".fancybox").fancybox({
        margin : [20, 30, 20, 30]
    });

.content {float:left; width: 54%; color: #FFF;/**-webkit-column-count: 2; /* Chrome, Safari, Opera */
/**    -moz-column-count: 2; /* Firefox */
/**    column-count: 2;
    -webkit-column-rule-width: 20px;
text-align: justify;
    text-justify: inter-word;**/}
/**.invisible {display: none;}
.visible {display:block;}**/

.footer .push {height: 4em;}